* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: cadetblue;
    color: blanchedalmond;
}

/* HEADER */

header {
    margin: 30px 0;
}

#header-title {
    text-align: center;
}

#header-title, nav {
    width: 50%;
    display: inline-block;  
}

nav a {
    text-decoration: none;
    padding: 12px   ;
    color: brown;
    background-color: blanchedalmond;    
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

nav li {
    display: inline-block;
    padding: 12px 0;
}
/* MID-SECTION MAIN-CONTENT CONTAINER */
.main-content {
    max-width: 100%;
    margin: 0 auto;
}

.section-header {
    text-align: center;
}

/* FOOTER */
footer {
    text-align: center;
    font-size: 12px;
    background-color: brown;
    padding: 20px;
    margin-top: 15px;
    color: #ffffff;
}

/* HOME-CONTENT */
#about {
    width: 80%;
    margin: 0 auto;
    padding: 35px 0;
}

#about p {
   padding: 10px 0;
}

/* MENU PAGE */
#menu-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.menu-box {
    background-color: blanchedalmond;
    color: brown;
    display: inline-block;
    height: 250px;
    margin: 20px;
    width: 300px;
}

.menu-box h2, .sidebar h2 {
    text-align: center;
}

.menu-box p, .sidebar p {
    margin-bottom: 7px;
}

.menu-box, .sidebar {
    border-radius: 10px;
    padding: 25px;

}

.sidebar {
    /* push to side and contrast colors */
    width: 25%;
    height: 250px;
    background-color: brown;
}

/* CONTACT PAGE */
fieldset {
    margin: 0 auto;
    width: 50%;
}

input {
    width: 100%;
    padding: 7px;
    border-radius: 5px;

}

#socials {
    margin: 0 auto;
    display: block;
    width: 100%;
}

#socials li {
    display: inline-block;
    margin-right: 10px;
}



