/* * {
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li a {
    text-decoration: none;
}

/* ---------------- HEADER ---------------- */
/* #header-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
}

nav {
    order: 1;
    background-color: burlywood;
    width: 30%;
}

nav li {
    display: inline;
}
 */

/* ---------------- MAIN-CONTENT ---------------- */
/* 
#main-desc {
    margin: 35px;
} */

/* ---------------- FOOTER ---------------- */
/* #footer {
    background-color: dimgray;
    display: block;
    margin-bottom: 15px;
    padding: 20px;
    
}
#footer p {
    text-align: center;
} */

