* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: cadetblue;
}


nav a {
    text-decoration: none;
}
nav li {
    display: inline-block;
    background-color: blanchedalmond;
}

/* HEADER */

header {
    margin-bottom: 30px;
}

/* MAIN-CONTENT */
#about {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;

}
#about p {
    margin: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    font-size: 12px;
    background-color: brown;
    padding: 20px;
    margin-top: 15px;
    color: #ffffff;
}

/* MENU */
.menu {

}